# .gitignore

# Ignore Python Virtual Environments
venv/
env/
*.pyc

# Ignore Environment Variables File
.env

# Ignore Images
images/*

# Ignore static Images
static/*.png

# Ignore Static Cat Images
static/cat/*.png

# Ignore asset pngs
assets/*.png
