<html>
    <meta http-equiv="refresh" content="5"/>
    <head>
        <title>
            🥁 It's Drill Time 🥁
        </title>
        <style>
            * {
                color: #149414;
                font-size: 150%;
                font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
                margin-left: 50px;
                margin-right: 50px;
            }
            h1 {
                font-size: 300%;
            }

            .topleft {
                position: absolute;
                top: 30px;
                left: 30px;
              }

        </style>
    </head>
    <body style="background-color:#000000;">
        <center>
            <div class="topleft">
                <img src="static/bear_slayer.png" style="width:500px"/>
            </div>
            <p>
                <h1>JUNE</h1>
                <i>CHECK YO LAPTOPS!!   </i>
            </p>
            <div>
                <img src="static/cat/{{image}}"/>
            </div>
            <p>
                You said everything would be back to normal by the end of June... 
            </p>
            <sup>july'ed!</sup>
        </center>
    </body>
</html>